.main-page, .main-banner, .main-car1, .main-car2, .main-car3, .main-car4 {
  height:800px;

}

#main-nav>a {
  display: block;
  float: left;
  text-decoration-line: none;
  font-size: 30px;
  font-weight: 900;
  line-height: 80px;
  padding: 0 30px;
}

#main-nav>button {
  text-decoration-line: none;
}

#main-nav>ul {
  list-style: none;
  float: right;
}

#main-nav>ul li {
  float: left;
  padding: 0 15px;
  line-height: 60px;
  color: #62772c;
}


.main-banner {
  background: #f8f1e1;
  text-align: center;
  font-size: 30px;
  font-weight: 3000;
}

.main-banner>a1 {
  font-size: 80px;

}

.main-car1, .main-car2, .main-car3 {
  background: #c7d37f;
  text-align: center;
  font-size: 50px;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 500px;
}

#goingTop {
  position: fixed;
  left: 95%;
  bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  border: none;
  background-color: #62772c;
  color: #ffffff;
  font-size: 30px;
  box-shadow: 0px 0px 5px #f8f1e1;
  cursor: pointer;
}

